:root {
  --main-font-family: 'Montserrat', sans-serif;
  --main-accent-color: #ff6b09;
  --main-text-color: #111518;
  --additional-text-color: #b9b9b9;
  --invert-text-color: #ffffff;
  --main-background: #ffffff;
  --dark-background: #111518;
  --additional-section-background: #f1f1f1;
  --box-shadow-for-section: -5px 8px 26px rgba(0, 0, 0, 0.04);
  --box-shadow-for-cards: 0px 8px 26px rgba(0, 0, 0, 0.1);
  --box-shadow-for-slider: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
