:root {
  --main-font-family: 'Montserrat', sans-serif;
  --main-accent-color: #ff6b09;
  --main-text-color: #111518;
  --additional-text-color: #b9b9b9;
  --invert-text-color: #ffffff;
  --main-background: #ffffff;
  --dark-background: #111518;
  --gray-background: #3d3d3d;
  --additional-section-background: #f1f1f1;
  --transition-duration: 250ms;
  --transition-timing-function: ease-in-out;
}
