<section class="about">
    <div class="container">
        <h2 class="about__title" id="about">Преподаватель</h2>
        <div class="about__position">
                <div class="about__tumb">
                    <img srcset="
                        ./images/about/elena-mob.jpg        243w,
                        ./images/about/elena-mob@2x.jpg     486w,
                        ./images/about/elena-desctop.jpg    530w,
                        ./images/about/elena-desctop@2x.jpg 1060w
                        "                  
                             src="./images/about/elena-mob.jpg" alt="преподаватель"
                         sizes="(min-width: 1345px) 530px, (min-width: 768px) 243px, (min-width: 480px) 243px"
                       />
                </div>
                <div class="about__information">
                    <h3 class="about__name">Елена Морева</h3>
                
                    <ul class="about__list">
                        <li class="about__item">
                            <p class="about__text">Опыт подготовки учеников к ВНО - 6 лет</p>
                        </li>
                        <li class="about__item">
                            <p class="about__text">Собственный результат сдачи ВНО - 197 баллов 2 года подряд</p>
                        </li>
                        <li class="about__item">
                            <p class="about__text">Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English
                                Test)</p>
                        </li>
                    </ul>
                                
                    <ul class="education">
                        <li class="education__item">
                            <p class="education__text">
                                Высшее образование получила в Институте международных отношений НАУ по специальности
                                переводчик-аналитик.
                            </p>
                        </li>
                        <li class="education__item">
                            <p class="education__text">
                                В свободное время проходит курсы от лучших университетов мира по эффективному преподаванию и методикам
                                написания
                                сочинений.
                            </p>
                        </li>
                        <li class="education__item">
                            <p class="education__text">
                                В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style (The University
                                of
                                Queesland),
                                How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS
                                education),
                                Powerful Tools for Teaching and Learning (University of Houston).
                            </p>
                        </li>
                
                    </ul>
                    <a class="about__link" href="">Cambrige English Entry Level Certificate</a>
                
                </div>
        </div>
    </div>
</section>