<section class="advantages">
    <div class="container advantages-container">
        <h2 class="visually-hidden">
Преимущества обучения английскому языку в школе HellEn
        </h2>
        <ul class="advantages__list list">
            <li class="advantages__item student-item">
                <!-- <img class="advantages__icon" src="./images/svg/female-student-border.svg" alt="student"> -->
                <p class="advantages__title">
                    Адаптированная авторская<br>
                    программа ВНО
                </p>
            </li>
            <li class="advantages__item metodics-item">
                <!-- <img class="advantages__icon" src="./images/svg/mobile-learning-border.svg" alt="student"> -->
                <p class="advantages__title">
                    Современные<br>
                    методики обучения
                </p>
            </li>
            <li class="advantages__item insurance-item">
                <!-- <img class="advantages__icon" src="./images/svg/insurance-border.svg" alt="student"> -->
                <p class="advantages__title">
                    Финансовая гарантия<br>
                    результата
                </p>
            </li>
        </ul>
    </div>
</section>