<section class="benefits">
    <div class="container benefits--container">
        <h2 class="benefits__title">
            Почему нас выбирают
        </h2>
        <div class="benefits__box-list">
            <ul class="benefits__list list counter-reset">
                <li class="benefits__item counter-increment">
                    Обучение в малых командах
                </li>
                <li class="benefits__item counter-increment">
                    Визуализированные конспекты
                </li>
                <li class="benefits__item counter-increment">
                    Каждое занятие имеет цель и конкретный результат
                </li>
                <li class="benefits__item counter-increment">
                    Ревльные результаты преподавателя
                </li>
                <li class="benefits__item counter-increment">
                    Прогамма курса соответствует требованиям МОН Украины
                </li>
                <li class="benefits__item counter-increment">
                    Набор команд по уровням знаний
                </li>
            </ul>
        </div>
    </div>
</section>