<section class="benefits">
    <div class="container benefits--container">
        <h2 class="benefits__title">
            Почему нас выбирают
        </h2>
        <div class="benefits__box-list">
            <ul class="benefits__list list counter-reset">
                <li class="benefits__item counter-increment">
                    <p class="benefits__description">Обучение в малых командах</p>
                </li>
                <li class="benefits__item counter-increment">
                    <p class="benefits__description">Визуализированные конспекты</p>
                </li>
                <li class="benefits__item counter-increment">
                    <p class="benefits__description">Каждое занятие имеет цель и конкретный результат</p>
                </li>
                <li class="benefits__item counter-increment">
                    <p class="benefits__description">Ревльные результаты преподавателя</p>
                </li>
                <li class="benefits__item counter-increment">
                    <p class="benefits__description">Прогамма курса соответствует требованиям МОН Украины</p>
                </li>
                <li class="benefits__item counter-increment">
                    <p class="benefits__description">Набор команд по уровням знаний</p>
                </li>
            </ul>
        </div>
    </div>
</section>