<section class="hero">
    <div class="container hero-container">
        <h1 class="hero__title">
            Комплексная<br> 
            подготовка к ВНО<br>
            по английскому языку
        </h1>
        <div class="hero_additional-text">
            <span class="hero_additional-text--grey">
                Просто не будет.
            </span>
            <span class="hero_additional-text--black">
                Но ты гарантировано наберешь
            </span>
            <span class="hero_additional-text--orange">
                +25 баллов
            </span>
        </div>

        <a href="#contacts" class="hero__button link">
            хочу на бесплатное занятие
        </a>
    </div>
</section>