<section class="hero">
    <div class="container">
        <h1 class="hero__title">
            Комплексная подготовка к ВНО<br>
            по английскому языку
        </h1>
        <div class="hero_additional-text">
            <span class="hero_additional-text--grey">
                Просто не будет.
            </span><br>
            <span class="hero_additional-text--black">
                Но ты гарантировано наберешь
            </span>
            <span class="hero_additional-text--orange">
                +25 баллов
            </span>
        </div>

        <button class="hero__button">
            хочу на бесплатное занятие
        </button>

        <div class="benefits">
            <div class="benefits__item">
                <img class="benefits__icon" src="./images/svg/female-student-border.svg" alt="student">
                <p class="benefits__title">
                    Адаптированная авторская<br>
                    программа ВНО
                </p>
            </div>
            <div class="benefits__item">
                <img class="benefits__icon" src="./images/svg/mobile-learning-border.svg" alt="student">
                <p>
                    Современные<br>
                    методики обучения
                </p>
            </div>
            <div class="benefits__item">
                <img class="benefits__icon" src="./images/svg/insurance-border.svg" alt="student">
                <p class="benefits__title">
                    Финансовая гарантия<br>
                    результата
                </p>
            </div>
        </div>
    </div>
</section>