<header class="page-header">
  <div class="container page-header__container">
    <a href="./index.html" class="logo">
      <svg class="logo__icon" >
        <use href="./images/svg/logo.svg#icon-logo" class="">
        </use>
        <use href="./images/svg/logo.svg#icon-logo-header" class="logo__header">
        </use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a href="#program" class="nav__link link">Программы обучения</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link link">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#hwd" class="nav__link link">Варианты обучения</a>
        </li>
        <li class="nav__item">
          <a href="#footer" class="nav__link link">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="page-header__wrapper">

    <button type="button" class="page-header__button">Консультация по телефону</button>

      <!-- BUTTON MOBILE MENU  -->

      <button type="button" class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="menu__wrapper" width="20" height="12">
          <use href="./images/svg/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>

    <!-- MENU  -->

     <div class="menu-container js-menu-container" id="mobile-menu">
        <a href="./index.html" class="logo">
          <svg class="logo__icon">
            <use href="./images/svg/logo.svg#icon-logo-mobile" class="logo__mobile">
            </use>
            <use href="./images/svg/logo.svg#icon-logo-tablet" class="logo__tablet">
            </use>
          </svg>
        </a>

        <button class="menu-toggle js-close-menu">
          <svg width="15" height="15">
            <use href="./images/svg/sprite.svg#icon-close"></use>
          </svg>
        </button>
        
        <!-- <div class="nav-wrapper"> -->
                  <nav class="nav-menu">
                    <ul class="nav-menu__list list">
                      <li class="nav-menu__item">
                        <a href="#program" class="nav-menu__link link js-close-menu">Программы обучения</a>
                      </li>
                      <li class="nav-menu__item">
                        <a href="#about" class="nav-menu__link link js-close-menu">О нас</a>
                      </li>
                      <li class="nav-menu__item">
                        <a href="#hwd" class="nav-menu__link link js-close-menu">Варианты обучения</a>
                      </li>
                      <li class="nav-menu__item">
                        <a href="#contacts" class="nav-menu__link link js-close-menu">Контакты</a>
                      </li>
                    </ul>
                  </nav>
                  <a href="#contacts" class="link js-close-menu">
                    <button type="button" class="nav-menu__button">Консультация по телефону</button>
                  </a>
        <!-- </div> -->

      </div> 
      
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
        integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
        crossorigin="anonymous"></script>
</header>