<section class="page-heder">
  <div class="container page-heder__container">
    <a href="./index.html" class="logo">
      <svg class="logo__wrapper" >
        <use href="./images/svg/logo.svg#icon-logo" class="logo__icon">
        </use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a href="#program" class="nav__link link">Программы обучения</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link link">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#hwd" class="nav__link link">Варианты обучения</a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link link">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="page-header__wrapper">
    <button type="button" class="page-header__button">Консультация по телефону</button>

    /* BUTTON MOBILE MENU*/

    <button type="button" class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="menu__wrapper" width="20" height="12">
        <use href="./images/svg/sprite.svg#icon-menu"></use>
      </svg>
    </button>

    </div>
  </div>

  /*  MENU */

      <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu-toggle js-close-menu">
          <svg width="15" height="15">
            <use href="./images/svg/sprite.svg#icon-close"></use>
          </svg>
        </button>
      
      
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item"><a href="./index.html" class="mobile-menu__link mobile-menu__link--current">Студия</a>
          </li>
          <li class="mobile-menu__item"><a href="./portfolio.html" class="mobile-menu__link">Портфолио</a></li>
          <li class="mobile-menu__item"><a href="" class="mobile-menu__link">Контакты</a></li>
        </ul>
        <div class="mobile-menu__group">
          <ul class="mobile-menu__contacts">
            <li class="mobile-menu__item">
              <a href="tel:+380961111111" class="mobile-menu__link mobile-menu__link--current">
                +38 096 111 11 11
              </a>
            </li>
            <li class="mobile-menu__item">
              <a href="mailto:info@devstudio.com" class="mobile-menu__link mobile-menu__link--color">
                info@devstudio.com
              </a>
            </li>
          </ul>
          <ul class="mobile-socials">
            <li class="mobile-socials__item">
              <a href="#" class="mobile-menu__link mobile-menu__link--socials">Instagram</a>
            </li>
            <li class="mobile-socials__item">
              <a href="#" class="mobile-menu__link mobile-menu__link--socials">Twitter</a>
            </li>
            <li class="mobile-socials__item">
              <a href="#" class="mobile-menu__link mobile-menu__link--socials">Facebook</a>
            </li>
            <li class="mobile-socials__item">
              <a href="#" class="mobile-menu__link mobile-menu__link--socials">LinkedIn</a>
            </li>
          </ul>
        </div>
      
      </div>
      
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
        integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
        crossorigin="anonymous"></script>
      <script defer src="./js/mobile-menu.js"></script>
</section>