<section class="problems">
    <div class="container">
        <h2 class="problems__title">
                Главные проблемы учеников <br>
                на English ВНО, которые <br>
                мы <span class="problems__title-accent">помогаем</span> решить
        </h2>
        <div class="problems__box-list">
            <ul class="problems__list list counter-reset">
                <li class="problems__item counter-increment">
                    <p class="problems__description">Название грамматики</p>
                </li>
                <li class="problems__item counter-increment">
                    <p class="problems__description">Неумение вомпринимать устную английскую речь</p>
                </li>
                <li class="problems__item counter-increment">
                    <p class="problems__description">Скупой словарный запас для написани сочинения</p>
                </li>
                <li class="problems__item counter-increment">
                    <p class="problems__description">Поодготовка в одиночку</p>
                </li>
                <li class="problems__item counter-increment">
                    <p class="problems__description">Отсутствие единого ресурса знаний</p>
                </li>
                <li class="problems__item counter-increment">
                    <p class="problems__description">Недостатой самоорганизации и лень</p>
                </li>
            </ul>
        </div>
    </div>
</section>