<section class="program">
    <div class="container">
        <!-- Якорь -->
        <a name="program"></a>
        <!-- Заголовок секції -->
        <h2 class="program-heading">Наша программа</h2>
        <!-- Список першого рівня -->
        <ul class="program-semester-list list">
            <li class="program-semester-list-item">
                <h3 class="program-semester-heading"><span class="program-semester-number">1</span><span class="program-semester-text"> семестр</span></h3>
                <!-- Список другого рівня -->
                <ul class="program-skill-list list">
                    <li class="program-skill-list-item">
                        <p class="program-skill-name"> Grammar</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item">2 Adjectives & Adverb </li>
                        </ul> 
                    </li>
                    <li class="program-skill-list-item">
                        <p class="program-skill-name"> Vocabulary</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item">Family & Relations </li>
                            <li class="program-topic-list-item">People & Society</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li  class="program-semester-list-item">
                <h3 class="program-semester-heading"><span class="program-semester-number">2</span> семестр</h3>
                <!-- Список другого рівня -->
                <ul class="program-skill-list list">
                    <li class="program-skill-list-item">
                        <p class="program-skill-name"> Grammar</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item">Pronouns</li>
                            <li class="program-topic-list-item">Active Voice</li>
                            <li class="program-topic-list-item">Passive Voice</li>
                        </ul> 
                    </li>
                    <li class="program-skill-list-item">
                        <p class="program-skill-name"> Vocabulary</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item">Home</li>
                            <li class="program-topic-list-item">School</li>
                            <li class="program-topic-list-item">Work</li>
                        </ul> 
                    </li>
                </ul>
            </li>
            <li  class="program-semester-list-item">
                <h3 class="program-semester-heading"><span class="program-semester-number">3</span> семестр</h3>
                <!-- Список другого рівня -->
                <ul class="program-skill-list list">
                    <li class="program-skill-list-item">
                        <p class="program-skill-name"> Grammar</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item">Modal verbs</li>
                            <li class="program-topic-list-item">Infinitive</li>
                            <li class="program-topic-list-item">Gerund</li>
                            <li class="program-topic-list-item">Participle: 1, 2 </li>
                        </ul> 
                    </li>
                    <li class="program-skill-list-item">
                        <p class="program-skill-name"> Vocabulary</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item">Travel & Tourism</li>
                            <li class="program-topic-list-item">Culture & Free Time</li>
                            <li class="program-topic-list-item">Sport</li>
                        </ul> 
                    </li>
                    <li class="program-skill-list-item">
                        <p class="program-skill-name"> Writing</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item">Informal Letter</li>
                        </ul> 
                    </li>
                </ul>
            </li>
            <li  class="program-semester-list-item">
                <h3 class="program-semester-heading"><span class="program-semester-number">4</span> семестр</h3>
                <!-- Список другого рівня -->
                <ul class="program-skill-list list">
                    <li class="program-skill-list-item">
                        <p class="program-skill-name"> Grammar</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item">Clauses: Conditional and Wishes</li>
                            <li class="program-topic-list-item">Direct / Reported speech</li>
                            <li class="program-topic-list-item">Preposition</li>
                            <li class="program-topic-list-item">Conjunction</li>
                            <li class="program-topic-list-item">Numeral
                            </li>
                        </ul> 
                    </li>
                    <li class="program-skill-list-item">
                        <p class="program-skill-name"> Vocabulary</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item">Healthy Living</li>
                            <li class="program-topic-list-item">Nature & Environment</li>
                            <li class="program-topic-list-item">Money</li>
                        </ul> 
                    </li>
                    <li class="program-skill-list-item">
                        <p class="program-skill-name"> Writing</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item">Formal Letter</li>
                        </ul> 
                    </li>
                </ul>
            </li>
            <li  class="program-semester-list-item">
                <h3 class="program-semester-heading"><span class="program-semester-number">5</span> семестр</h3>
                <!-- Список другого рівня -->
                <ul class="program-skill-list list">
                    <li class="program-skill-list-item">
                        <p class="program-skill-name"></p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item">Revision</li>
                            <li class="program-topic-list-item">Tests</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>