<section class="program">
    <div class="container">
        <!-- Якорь -->
        <!-- <a name="program"></a> -->
        <!-- Заголовок секції -->
        <h2 id ="program" class="program-heading">Наша программа</h2>
        <!-- Список першого рівня -->
        <ul class="program-semester-list list">
            <li class="program-semester-list-item">
                <h3 class="program-semester-heading"><span class="program-semester-number">1</span><span class="program-semester-text"> семестр</span></h3>
                <!-- Список другого рівня -->
                <ul class="program-skill-list list">
                    <li class="program-skill-list-item">
                        <p class="program-skill-name" lang="en"> Grammar</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item" lang="en">Nouns & Articles</li>
                            <li class="program-topic-list-item" lang="en">Adjectives & Adverb</li>
                        </ul> 
                    </li>
                    <li class="program-skill-list-item">
                        <p class="program-skill-name" lang="en"> Vocabulary</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item" lang="en">Family & Relations </li>
                            <li class="program-topic-list-item" lang="en">People & Society</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li  class="program-semester-list-item">
                <h3 class="program-semester-heading"><span class="program-semester-number">2</span> семестр</h3>
                <!-- Список другого рівня -->
                <ul class="program-skill-list list">
                    <li class="program-skill-list-item">
                        <p class="program-skill-name" lang="en"> Grammar</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item" lang="en">Pronouns</li>
                            <li class="program-topic-list-item" lang="en">Active Voice</li>
                            <li class="program-topic-list-item" lang="en">Passive Voice</li>
                        </ul> 
                    </li>
                    <li class="program-skill-list-item">
                        <p class="program-skill-name" lang="en"> Vocabulary</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item" lang="en">Home</li>
                            <li class="program-topic-list-item" lang="en">School</li>
                            <li class="program-topic-list-item" lang="en">Work</li>
                        </ul> 
                    </li>
                </ul>
            </li>
            <li  class="program-semester-list-item">
                <h3 class="program-semester-heading"><span class="program-semester-number">3</span> семестр</h3>
                <!-- Список другого рівня -->
                <ul class="program-skill-list list">
                    <li class="program-skill-list-item">
                        <p class="program-skill-name" lang="en"> Grammar</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item" lang="en">Modal verbs</li>
                            <li class="program-topic-list-item" lang="en">Infinitive</li>
                            <li class="program-topic-list-item" lang="en">Gerund</li>
                            <li class="program-topic-list-item" lang="en">Participle: 1, 2 </li>
                        </ul> 
                    </li>
                    <li class="program-skill-list-item">
                        <p class="program-skill-name" lang="en"> Vocabulary</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item" lang="en">Travel & Tourism</li>
                            <li class="program-topic-list-item" lang="en">Culture & Free Time</li>
                            <li class="program-topic-list-item" lang="en">Sport</li>
                        </ul> 
                    </li>
                    <li class="program-skill-list-item">
                        <p class="program-skill-name" lang="en"> Writing</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item" lang="en">Informal Letter</li>
                        </ul> 
                    </li>
                </ul>
            </li>
            <li  class="program-semester-list-item">
                <h3 class="program-semester-heading"><span class="program-semester-number">4</span> семестр</h3>
                <!-- Список другого рівня -->
                <ul class="program-skill-list list">
                    <li class="program-skill-list-item">
                        <p class="program-skill-name" lang="en"> Grammar</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item" lang="en">Clauses: Conditional and Wishes</li>
                            <li class="program-topic-list-item" lang="en">Direct / Reported speech</li>
                            <li class="program-topic-list-item" lang="en">Preposition</li>
                            <li class="program-topic-list-item" lang="en">Conjunction</li>
                            <li class="program-topic-list-item" lang="en">Numeral</li>
                        </ul> 
                    </li>
                    <li class="program-skill-list-item">
                        <p class="program-skill-name" lang="en"> Vocabulary</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item" lang="en">Healthy Living</li>
                            <li class="program-topic-list-item" lang="en">Nature & Environment</li>
                            <li class="program-topic-list-item" lang="en">Money</li>
                        </ul> 
                    </li>
                    <li class="program-skill-list-item">
                        <p class="program-skill-name" lang="en"> Writing</p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item" lang="en">Formal Letter</li>
                        </ul> 
                    </li>
                </ul>
            </li>
            <li  class="program-semester-list-item">
                <h3 class="program-semester-heading"><span class="program-semester-number">5</span> семестр</h3>
                <!-- Список другого рівня -->
                <ul class="program-skill-list list">
                    <li class="program-skill-list-item">
                        <p class="program-skill-name"></p>
                        <!-- Список третього рівня -->
                        <ul class="program-topic-list list">
                            <li class="program-topic-list-item" lang="en">Revision</li>
                            <li class="program-topic-list-item" lang="en">Tests</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>